.container-eachitem{
    width: 100%;
    min-height: 100vh;
    background-color: #F8F8F8;
    display: flex;
}
.image-eachitem{
    width:100% ;
    height: 80vh;
    object-fit: contain;
    margin-top: 70px;
}
.item-description-containerr{
    margin-top: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
gap: 1rem;
}
.button-eachitem-cart{
    background-color: #3457B1;
    width: 40%;
    padding: 10px;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #F8F8F8;
    margin-bottom: 10px;
}

.description-tittle{
    color: black;
    font-weight: 600;
}
.quantity-container{
    display: flex;
}
.quantyti-items{
    height: 25px;
    cursor: pointer;
   margin-right: 10px;

}
.quantyti-itemss{
    height: 25px;
    cursor: pointer;

   margin-left: 10px;
}
@media screen and (max-width: 992px){
    .container-eachitem{
        flex-direction: column;
      align-items: center;
      
    }
    .image-eachitem{
        height: 60vh;
    }
}
.eachpdetailpress{
text-decoration: solid;
color: rgb(43, 43, 43);
transition: 500ms ease-in-out;
}
.eachpdetailpress:hover{
    color: rgb(43, 43, 43);
}