.carousel-comments-card img{
    width: 150px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;

}
 
  .comment-text{
/*     word-break: break-all; */ 
/* No gino no >:/ */
    padding: 50px;
  }
 :root{--swiper-theme-color:white !important}